body {
    text-align: center;
}

.dice {
    display: flex;
}
.fractions {
    display: flex;
    margin: 1rem;
}

.fractions div {
    margin: 2rem;
}

select {
    display: block;
    margin: 2rem;
}

label {
    display: block;
    text-align: center;
}

.totalFractionP {
    font-size: 2rem;
    font-weight: bolder;
    margin: 1rem;
    color: crimson;
}